* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
  list-style-type: none;
}

header {
  height: 500px;
  background: rgba(0, 0, 0, 0.6) url(/images/background.jpg);
  background-position: center;
  background-size: cover;
  background-blend-mode: darken;
  width: 100%;
}

header .logo {
  width: 9%;
}
.container {
  width: 1270px;
  max-width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  font-family: "Montserrat", sans-serif;
}
header .left-a {
  text-decoration: none;
  color: #fff;
  border: solid 2px #00bfa6;
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  margin-left: 10px;
  font-weight: normal;
  line-height: 1.5;
}

.container .left {
  position: absolute;
  margin-left: 110px;
  font-weight: bold;
  font-size: 30px;
  line-height: 1.6;
  margin-top: 20px;
  color: #00bfa6;
  cursor: pointer;
}
.left-a:hover {
  background-color: #00bfa6;
  color: #fff;
}
.container .right {
  font-size: 25px;
  color: #fff;
  cursor: pointer;
  position: relative;
}
.right .navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #00bfa675;
  position: absolute;
  right: 0;
  min-width: 250px;
  min-height: 250px;
  top: calc(100% + 20px);
  display: none;
}
.right .navbar::before {
  content: "";
  border-width: 20px;
  border-style: solid;
  border-color: transparent transparent #00bfa675 transparent;
  position: absolute;
  right: 10px;
  top: -40px;
}
.right .navbar a {
  display: block;
  padding: 20px;
  text-decoration: none;
  color: #fff;
  transition: 0.3s;
  font-size: 20px;
  font-weight: 500;
}
.right .navbar a:hover {
  padding-left: 25px;
}
.right .navbar:not(:last-child)a {
  border-bottom: 1px solid rgb(88, 87, 87);
}
.navbar.show {
  display: block;
}
@media (max-width: 1436px) {
  .right .navbar {
    background-color: #00bfa6;
    z-index: 3;
  }
  .right .navbar::before {
    border-color: transparent transparent #00bfa6 transparent;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: 100%;
    margin: auto;
  }
  .container .right {
    position: absolute;
    right: 10px;
  }

  .container .left {
    display: block;
    margin-left: 5px;
  }
  .container .logo {
    margin-left: 20px;
    width: 60px;
  }
  .container h2 {
    margin-top: 10px;
    margin-left: 20px;
  }
  .container .left-a {
    display: none;
  }
  .right .navbar {
    background-color: #00bfa6;
  }
  .right .navbar::before {
    border-color: transparent transparent #00bfa6 transparent;
  }
  .navbar.show {
    display: block;
  }
}

header .text-center {
  color: #fff;
  font-size: 30px;
  margin-top: 40px;
}
header .text-center .search-container {
  margin-top: 50px;
  color: #000;
  font-size: 25px;
  background: transparent;
  opacity: 0.8;
}
header .search-container:focus {
  outline: none;
}
header .search-container i {
  color: #00bfa6;
  margin-left: 10px;
  font-size: 40px;
}
input::placeholder {
  font-size: 20px;
  color: #00bfa6;
}

header .left-b {
  display: none;
  text-decoration: none;
  color: #fff;
  border: solid 2px #00bfa6;
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  font-weight: normal;
  line-height: 1.5;
}

@media (max-width: 767px) {
  header .text-center {
    margin-top: 100px;
  }

  header .text-center .search-container,
  header .text-center .search-container i {
    display: none;
  }
  header .left-b {
    display: inline-block;
    position: absolute;
    margin-top: 20%;
    margin-left: 40%;
    background-color: #00bfa6;
    color: #fff;
  }
  header .left-b:hover {
    opacity: 0.7;
  }
}

/*gallary section*/

.gallary .containeer {
  margin: auto;
  margin-bottom: 40px;
  width: 100%;
}
.gallary .containeer .raww {
  display: flex;
  flex-wrap: wrap;
}

/*.gallery*/
.gallary {
  width: 100%;
  display: block;
  min-height: 90vh;
  padding: 60px 0;
}
.gallary .gallery-filter {
  padding: 0 15px;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}
.gallary .gallery-filter .filter-item {
  color: #000;
  font-size: 18px;
  text-transform: uppercase;
  display: inline-block;
  margin: 0 10px;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  line-height: 1.2;
  transition: all 0.3s ease;
}
.gallary .gallery-filter .filter-item.active {
  color: #00bfa6;
  border-color: #00bfa6;
}

@media (max-width: 767px) {
  .gallary .gallery-filter .filter-item {
    margin-bottom: 10px;
  }
}

.img-responsive {
  margin: 8px;
  transition: 0.5s ease;
  max-width: 100%;
}

.img-responsive:hover {
  box-shadow: 4px 5px 5px 4px #888888;
  border-radius: 10px;
}

.heading {
  text-align: center;
  font-weight: bold;
  font-family: monospace;
  font-size: 35px;
}

.btn-info {
  transition: 0.5s ease-in-out;
  letter-spacing: 2px;
  font-family: monospace;
  font-weight: bold;
  font-size: 15px;
}
.text-danger + p {
  font-family: monospace;
  font-size: 16px;
  text-align: center;
  color: #000;
  padding: 10px 10px;
}
.text-danger {
  padding: 10px 10px;
}
.modal-body {
  text-align: center;
  justify-content: center;
}
.second {
  margin-top: 100px;
}

.more {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  padding: 10px 10px;
}
.more .btn-info {
  font-size: 25px;
}

footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #2a2932;
  color: #fff;
  font-size: 20px;
  height: 200px;
}
footer .social-icons {
  color: #00bfa6;
  cursor: pointer;
  font-size: 20px;
  margin: 15px;
}
footer .text-center {
  margin: auto;
}

footer span {
  color: #00bfa6;
}
